body {
  font-size: 16px;
  color: #222;
  background-color: #ffffff;
  font-family: sans-serif;
}

#header-nav {
  background-color: #f5a9b8;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  color: #5bcefa;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #fff;
  background-color: #5bcefa;
  text-align: center;
}

#nav-list a:hover {
  background: #f5a9b8;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #fff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

section {
  height: 1000px;
  border: 2px solid #fff;
  background-color: #f5a9b8;
}

#our-menu-title {
  color: #5bcefa;
  text-shadow: 1px 1px 1px #f5a9b8;
}
